<html>
  <body background = 'https://wallpapercave.com/wp/65TOHgN.jpg'>
    <font color="white">
    <h1>Welcome to the Iron Fist Tournament!</h1>
    <h3>Select
      <a href = '/players'>
      <b> players</b>
      </a>
    </font>
    </h3>
  </body>
</html>
