<html>
  <body background = 'http://7images.cgames.de/images/gamestar/226/mortal-kombat_2654936.jpg'>
    <font color="white">
    <h1>Round one</h1>
    <% if @player1 and @player2 %>
    <h3><%= @player1 %> VS <%= @player2 %></h3>
    <% end %>
    <h1>FIGHT!</h1>
    </font>
  </body>
</html>
