<html>
  <body background = 'https://pxlbbq.com/wp-content/uploads/2017/06/pxlbbq-tekken-7-heihachi.jpg'>
    <font color='white'>
    <h1>CHOOSE YOUR FIGHTER</h1>
    <form action='/players_selected' method='post'>
      <div>
        <label for='player1'>Player 1:</label>
        <input type='text' name='name1'>
        <label for='player2'>Player 2:</label>
        <input type='text' name='name2'>
        <input type='submit' value='Fighters selected'>
       </div>
    </form>
  </font>
  </body>
</html>
