<html>
  <body>
    <h1>CHOOSE YOUR FIGHTER</h1>
    <form action="/players_selected" method="post">
      <div>
        <label for="player1">Player 1:</label>
        <input type="text" name="name1">
        <label for="player2">Player 2:</label>
        <input type="text" name="name2">
        <input type="submit" value="Fighters selected">
       </div>
    </form>
  </body>
</html>
